<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form th:action="@{/main}" method="post" enctype="multipart/form-data">
            <input type="text" name="text" />
            <input type="text" name="tag" />
            <input type="file" name="file"/>
            <button type="submit" >Добавить</button>
        </form>
    </div>
    <div>
        <form method="post" th:action="@{/filter}">
            <input type="text" name="filter" />
            <button type="submit">Найти</button>
        </form>
    </div>
    <div>
        <div>
            <strong>ID</strong>
            <strong>TAG</strong>
            <strong>TEXT</strong>
            <strong>Author</strong>
        </div>
        <div th:each="msg : ${messages}">
            <strong th:text="${msg.id}"></strong>
            <strong th:text="${msg.tag}"></strong>
            <strong th:text="${msg.text}"></strong>
            <img th:if="${msg.filename}" th:src="@{/imgs/} + ${msg.filename}" width="20%" height="20%"></img>
            <strong th:text="${msg.getAuthorname()}"></strong>
        </div>
    </div>
</body>
</html>